<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.0.31" targetFramework="net48" />
  <package id="AWSSDK.SQS" version="3.7.0.30" targetFramework="net48" />
  <package id="bootstrap" version="4.6.0" targetFramework="net462" />
  <package id="jQuery" version="3.6.0" targetFramework="net48" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net462" />
  <package id="jQuery-Timepicker-Addon" version="1.6.3" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="3.9.0" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NLog" version="4.7.10" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.10" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.10" targetFramework="net48" />
  <package id="NLog.Web" version="4.12.0" targetFramework="net48" />
  <package id="popper.js" version="1.16.1" targetFramework="net462" />
</packages>